.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.right,
.left {
  padding: 0 20px;
  align-items: center;
  margin: 0;
}
.nav-text {
  padding: 0;
  display: none;
}
p {
  color: inherit;
}
.content p {
  margin: 0;
  padding: 0;
}

.title {
  margin-top: 1vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.title img {
  width: 10%;
}
.title > div {
  width: 10%;
}
h1 {
  font-size: var(--title);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}
.cartographie {
  display: flex;
  width: 90%;
  margin-top: 5%;
  justify-content: space-around;
  align-items: center;
}
.cartographie img {
  width: 35%;
}
.cartographie p {
  width: 50%;
  font-size: var(--title2);
  color: var(--black);
}
.content {
  padding-bottom: 20vw;
}

@media (min-width: 600px) {
  .title {
    margin: 1vw 0;
  }
  h1 {
    font-size: var(--title-desktop);
  }

  .content {
    display: grid;
    margin: 0 5vw;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    column-gap: 8vw;
    row-gap: 2vw;
    padding-bottom: 15vw;
  }
  .cartographie {
    position: relative;
    flex-direction: column;
    width: 100%;
    margin-top: 0;
  }
  .cartographie p {
    width: 80%;
    text-align: center;
    font-size: var(--title2);
    color: var(--black);
  }
  .cartographie img {
    width: 60%;
  }
}

@media (min-width: 900px) {
  .right {
    padding: 0 30px;
  }
  .nav-text {
    display: block;
  }

  .title img,
  .title div {
    display: none;
  }
  .title {
    margin: 1vw 0;
  }
  h1 {
    font-size: var(--title-desktop);
  }

  .content {
    display: grid;
    margin: 0 5vw;
    grid-template-columns: repeat(3, 1fr);

    column-gap: 8vw;
    row-gap: 2vw;
    padding: 0;
  }
  .cartographie {
    flex-direction: column;
    width: 100%;
    margin-top: 0;
  }
  .cartographie img {
    width: 60%;
    top: 0;
  }
  .cartographie p {
    width: 80%;
    text-align: center;
    font-size: var(--title2);
    color: var(--black);
  }
}
