* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Helvetica Neue", Arial, sans-serif;
}

body {
	display: flex;
	justify-content: center;
}

.login-container {
	width: 500px;
	background: #fff;
	border-radius: 4px;
	padding: 60px 50px 80px;
	text-align: center;
}

.logo-connect {
	width: 400px;
}

label {
	display: block;
	text-align: left;
	font-size: 20px;
	color: #333;
	margin-bottom: 10px;
}

input {
	width: 100%;
	padding: 14px 16px;
	border-radius: 8px;
	border: 2px solid var(--apple-green);
    box-shadow:
      0 0 10px rgba(0, 0, 0, 0.22), 
      0 0 5px rgba(0, 0, 0, 0.18); 
	font-size: 18px;
	outline: none;
	transition: 0.2s;
}

input:focus {
	border-color: #76a845;
	box-shadow:
      0 0 30px rgba(0, 0, 0, 0.5), 
      0 0 5px rgba(0, 0, 0, 0.18); 
}

button {
	margin-top: 100px;
	background: var(--green);
	color: #fff;
	padding: 16px 40px;
	border: none;
	font-size: 20px;
	border-radius: 6px;
	cursor: pointer;
	transition: 0.2s;
}

button:hover {
	background: #4e8d33;
}

.error {
	margin-top: 5%;
}