#justice {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.arrow img {
  width: 32px;
  height: 32px;
}

#title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.carte {
  display: flex;
  width: 359px;
  height: 522px;
  margin: 0 auto;
  justify-content: center;
}

#title h1 {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .carte {
    width: 1300px;
    height: 500px;
    border: none;
  }
  .arrow {
    display: none;
  }
}
