p {
    color: inherit;
}

a {
    text-decoration: none;
    color: #1aa7e1;
}

img {
    color: #1aa7e1;
}


.title {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.title svg {
    width: 20px;
}

.title>div {
    width: 20px;
}

h1 {
    color: #1aa7e1;
    font-size: 22px;
    font-weight: 700;
}


.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}


.phoneNumbers {
    width: 85%;
    border: 2px solid #8fd3f4;
    border-radius: 18px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}


.telNumber {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 16px;
}

.telNumber a {
    font-size: 15px;
    font-weight: 500;
    width: 85%;
}

.telNumber:not(:last-child) {
    border-bottom: 1px solid #8fd3f4;
}

.telNumber img {
    width: 22px;
    height: 22px;
    padding: 0;
}


@media (min-width: 600px) {
    h1 {
        font-size: var(--title-desktop);
    }
}

@media (min-width: 900px) {

    
}